name: Build and Upload Artifact
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Create a file
      run: echo "Hello, other_branch!" > artifact.txt
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: artifact.txt
